<template>
    <div></div>
</template>

<script>
import {example} from '../api/example.js';
export default {
  data(){
    return{

    }
  },
  created() {},
  mounted() {},
  methods:{
    //网络请求模块
    network(){
      return{
        runApiToGetSomething:async()=>{
          const {data,status} = await example({/**请求参数 */})
          if(status===200){ //200 ok
            console.log(data)
          }
        }
      }
    }
  }

};
</script>

<style lang="scss" scoped>
</style>